body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    text-size: 1.8em;
}

div {
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 60px;
    width: 100%;
}

p {
    text-align: justify;
    text-size: 1.2em;
}
